{% extends 'layout.html' %}

{% block title %}Our Products - Project X{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center bg-transparent border-light shadow-lg">
                <div class="card-header">
                    <h2>Our Latest Products</h2>
                </div>
                <div class="card-body">
                    <h4>Explore our innovative products</h4>
                    <p>We are excited to present the latest additions to our product lineup. Check them out below!</p>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card bg-dark text-light">
                                <div class="card-body">
                                    <h5 class="card-title">ROG - Republic of Gamers</h5>
                                    <p class="card-text">ROG hadir untuk menciptakan laptop gaming paling kuat dan serbaguna di dunia.</p>
                                    <a href="#" class="btn btn-custom-light">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card bg-dark text-light">
                                <div class="card-body">
                                    <h5 class="card-title">ProArt</h5>
                                    <p class="card-text">Laptop ProArt StudioBook menghadirkan kinerja grafis kelas profesional di mana pun.</p>
                                    <a href="#" class="btn btn-custom-light">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card bg-dark text-light">
                                <div class="card-body">
                                    <h5 class="card-title">asus IOT</h5>
                                    <p class="card-text">ASUS IoT is dedicated to the creation of incredible solutions in the fields of AI and IoT.</p>
                                    <a href="#" class="btn btn-custom-light">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
